<%- include ('partials/_paymentsHeader'); %>

<script>
    $("#buttonPaymentsProviders").attr("aria-pressed", "true");
</script>

<!-- Page Content -->
<div class="container-fluid">
    <h1>Pagos Proveedores</h1>
</div>

<%- include ('partials/_footer'); %>
