<%- include ('partials/_header'); %>

<script>
    $("#buttonShipments").attr("aria-pressed", "true");
</script>

<!-- Page Content -->
<div class="container-fluid">
    <h1>Viajes</h1>
</div>

<%- include ('partials/_footer'); %>
