<%- include ('../../partials/_masterheader'); %>
<script>
    $("#buttonWorkers").attr("aria-pressed", "true");
</script>

<!-- Page Content -->
<div class="container-fluid">
    <h1>Trabajadores</h1>
    
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modaltrabajadores">
        Añadir nuevo trabajador
    </button>

    <!-- Inicio Modal -->
    <div class="modal fade" id="modaltrabajadores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- Modal header-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registrar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body-->
                <div class="modal-body">
                    <!-- MODAL-->
                    
                </div>
            </div>
        </div>
    </div>

    <!--Inicio Tabla-->

    <div class="table-responsive">

        <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Número de teléfono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- FILL TABLE-->
        </table>
    </div>    
    
</div>

<%- include ('../../partials/_masterfooter'); %>
